.register-section {
    max-width: 600px;
    margin: 85px auto 0 auto;
    padding: 45px 30px;
    border: 1px solid #f35d36;
    border-radius: 20px;
    margin-bottom: 50px;
}

.register-section h3 {
    text-align: center;
    margin-bottom: 20px;
}

.register-section form {
    display: flex;
    flex-direction: column;
}

.register-section input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #29375d;
    border-radius: 5px;
}

.register-section .btn {
    cursor: pointer;
    background-color: #f35d36;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

.register-section p {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 630px) {
    .register-section {
        margin: 35px 25px;
    }
}

.register-section .btn:hover {
    background-color: #29375d;
}