.page-title-section {
    background-color: #F8F9FC;
}

.page-title-content {
    margin-left: 20px;
}

.page-title-content p {
    font-weight: 600;
}

.page-title-content p span {
    text-decoration: none;
    color: #f35d36;
}

.page-title-content p a {
    text-decoration: none;
    color: black;
}